body {
  font-family: sans-serif;
  background-color: #adb5bd;
  margin: 0;
}

#profilePicture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 5%;
  margin-left: 5%;
}

footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding-bottom: 5%;
}
